@using Microsoft.Web.Helpers;

@{
    ViewBag.Title = "Dodaj vijest";
}

@model NewsBarHCI.Models.ViewModel

@{
    var news = (NewsBarCore.Vijesti)Model.PageModel;
    var korisnik = (NewsBarCore.Korisnici)Session["User"];
    if (news != null)
    {
        news.AutorId = korisnik.Id;
    }

    var selectionList = new List<SelectListItem>();
    foreach (var c in Model.Kategorije.ToList())
    {
        selectionList.Add(new SelectListItem() { Text = c.Ime, Value = c.Id.ToString() });
    }

    WebImage photo = null;

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            photo.Save(news.Slika);
        }
    }
}

<h2>Dodaj vijest</h2>

<div id="form">

    @if (@IsPost)
    {
        if (Model.PageModel != null)
        {
            <div class="alert alert-success">
                <p>Vijest dodana</p>
            </div>
        }
        else
        {
            Model.PageModel = new NewsBarCore.Vijesti();

            <div class="alert alert-danger">
                <p>Dodavanje vijesti nije uspjelo</p>
            </div>
        }
    }

    <form method="post" action="postnews" enctype="multipart/form-data">
        <div class="row segment">
            <div class="col-md-2">Naslov:</div>
            <div class="col-md-10">@Html.TextBoxFor(model => ((NewsBarCore.Vijesti)model.PageModel).Naslov)</div>
        </div>

        <div class="row segment">
            <div class="col-md-2">Kategorija:</div>
            <div class="col-md-10">@Html.DropDownListFor(model => ((NewsBarCore.Vijesti)model.PageModel).Kategorija, selectionList)</div>
        </div>

        <div class="row segment">
            <div class="col-md-2">Tekst:</div>
            <div class="col-md-10">@Html.TextAreaFor(model => ((NewsBarCore.Vijesti)model.PageModel).Tekst)</div>
        </div>

        <div class="row segment">
            <div class="col-md-2">Slika:</div>
            <div class="col-md-10"><img id="preview" name="imagePreview" /><br /><input id="upload" type="file" accept="images/*" name="Image" /></div>
        </div>

        <div class="row segment">
            <div class="col-md-12">
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
                @Html.HiddenFor(model => ((NewsBarCore.Vijesti)model.PageModel).Id)
                @Html.HiddenFor(model => ((NewsBarCore.Vijesti)model.PageModel).AutorId)
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    document.getElementById("upload").onchange = function fileSelected() {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview").src = e.target.result;
            //imgString = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    }
</script>

<style type="text/css">
    .segment {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>