
@{
    ViewBag.Title = "NewsView";
    var item = (NewsBarCore.Vijesti)(((object[])Model.PageModel)[0]);
    var korisnik = (NewsBarCore.Korisnici)Session["User"];
    var komentar = (NewsBarCore.Komentari)(((object[])Model.PageModel)[1]);
    if (komentar != null && korisnik != null)
    {
        komentar.Osoba = korisnik.Id;
    }
}


@model NewsBarHCI.Models.ViewModel

<div class="container news">
    @if (Model != null)
    {
        if (IsPost)
        {
            if (((object[])Model.PageModel)[1] != null)
            {
                <div class="alert alert-success">
                    <p>Komentar dodan</p>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <p>Dodavanje komentara nije uspjelo</p>
                </div>
            }
        }


        <div id="newsWindow" class="row vijest" onclick="newFrame()">
            <div class="col-md-12">
                <h1>@item.Naslov</h1>
            </div>
            <div class="col-md-6">
                <!--<img src="UrlHelper.GenerateContentUrl(item.Slika, this.Context)" />-->
            </div>
            <div class="col-md-6">
                <h3>@item.Korisnici.Ime</h3>
                <p>@item.Tekst</p><br />
            </div>

            @if (Session["User"] != null)
            {
                <div class="col-md-12">
                    <form method="post" action="..\postcomment">
                        <p>@Html.TextAreaFor(com => ((NewsBarCore.Komentari)(((object[])Model.PageModel)[1])).Tekst)</p>
                        <p><button type="submit">Submit</button></p>
                        @Html.HiddenFor(com => ((NewsBarCore.Komentari)(((object[])Model.PageModel)[1])).Osoba)
                        @Html.HiddenFor(com => ((NewsBarCore.Komentari)(((object[])Model.PageModel)[1])).News)
                    </form>
                </div>
            }

            <div class="col-md-12">
                <ul class="list-group">
                    @foreach (var comment in item.Komentari.Where(c => c.News == item.Id))
                    {
                        <li class="list-group-item">
                            <h4>@comment.Korisnici.Ime</h4>
                            <p>@comment.Tekst</p>
                        </li>
                    }
                </ul>
            </div>

        </div>


    }
</div>

<style type="text/css">
    .vijest {
        background-color: #eeeeee;
        border-color: gray;
        border-style: solid;
        border-radius: 16px;
    }
</style>
