
@{
    ViewBag.Title = "ProfilePage";

    var korisnik = (NewsBarCore.Korisnici)Session["User"];
    var vijesti = korisnik.Vijesti;
}


@model NewsBarHCI.Models.ViewModel

<div class="container news">

    <div class="jumbotron">


        <table class="table table-striped">
            <tr>
                <th>
                    <h2> @korisnik.Ime </h2>

                    <h3> Osnovni podaci o profilu </h3>
                    <p> Korisničko ime: @korisnik.Ime  <p>
                    <p> E-mail: @korisnik.Email </p>

                    <input type="button" id="edit" onclick="showEditForm()" value="Uredi" />
                    <input type="button" id="delete" value="Obriši" />

                </th>

                <th>

                    <form id="regForm" method="post" style="display: none" action="editUser">

                        <p>
                            <label for="userName"> Korisničko ime: </label>
                            <input type="text" id="nick" name="Nick" />
                        </p>

                        <p>
                            <label for="userEmail">E-mail: </label>
                            <input type="text" id="email" name="E-mail" />
                        </p>
                        <p>
                            <label for="userPasswors">Lozinka: </label>
                            <input type="password" id="password" name="Password" />
                        </p>
                        <p>
                            <label for="userPasswors">Potvrdite lozinku: </label>
                            <input type="password" id="passwordConf" name="Password" />
                        </p>

                        <input type="button" id="saveUser" value="Spremi" />
                    </form>
                </th>
            </tr>
        </table>






    </div>


    <h1> Vijesti </h1>

    @foreach (var itemVijest in vijesti)
    {
        <div id="newsWindow" class="row vijest" onclick="newFrame()">
            <div class="col-md-12">
                <h1>@itemVijest.Naslov</h1>
            </div>
            <div class="col-md-6">
                <!--<img src="UrlHelper.GenerateContentUrl(item.Slika, this.Context)" />-->
            </div>
            <div class="col-md-6">
                <h3>@itemVijest.Korisnici.Ime</h3>
                <p>@itemVijest.Tekst</p><br />
            </div>

            <div class="col-md-12">
                <form method="post" action="PostComment">
                    <input type="hidden" name="ownerid" value="@itemVijest.Id.ToString()" /><br />
                    <p>Autor: <input name="author" /></p>
                    <p><textarea name="comment"></textarea></p>
                    <p><button type="submit">Submit</button></p>
                </form>
            </div>

            <div class="col-md-12">
                <ul class="list-group">
                    @foreach (var comment in itemVijest.Komentari.Where(c => c.News == itemVijest.Id))
                    {
                        <li class="list-group-item">
                            <h4>@comment.Osoba</h4>
                            <p>@comment.Tekst</p>
                        </li>
                    }
                </ul>
            </div>

        </div>
    }




</div>

<style type="text/css">
    .vijest {
        background-color: #eeeeee;
        border-color: gray;
        border-style: solid;
        border-radius: 16px;
    }
</style>


@section scripts{

    <script type="text/javascript">

        function showEditForm() {


            $('#regForm').show();

        }

        $('#saveUser').click(function () {

            if (document.getElementById("nick").value == "" || document.getElementById("email").value == "" || document.getElementById("password").value == "" || document.getElementById("passwordConf").value == "") {

                alert("Niti jedno polje ne smije biti prazno.")

            } else if (!(document.getElementById("password").value == document.getElementById("passwordConf").value)) {

                alert("Lozinke se ne podudaraju.");

            }

        });

    </script>


   

}